body{
    font: 20px Arial,sans-serif ;
}
.navbar {
    background-color:#29B893 ;
}

.quem-somos{
    background-color: #F39C12 ;
    color: white;
}
  
.margin{
   padding-bottom: 50px;
   padding-top: 10px;
}

.parceiros{
    background-color: #5DADE2 ;
}